!!!
%html
  %head
    %title Audio Improver

    %script{ src: 'http://vk.com/js/api/xd_connection.js?2',  type: 'text/javascript' }

    != js :app

    != css :app_css
  %body
    = yield
    
    - debug = settings.debug
    - a = request.cookies['user_id'] ? request.cookies['user_id'] : 'guest'
    - qbaka_key = '77b9aa9e892e1a104b9d31a91421e199'

    - unless debug
      :plain
        <script type="text/javascript">var yaParams = {uid: "#{a}"};</script><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter15906313 = new Ya.Metrika({id:15906313, enableAll: true, webvisor:true,params:window.yaParams||{ }}); } catch(e) {} }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/15906313" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    
    :plain
      <script type="text/javascript" id="qbaka">(function (w,d) {w.__qbaka_eh = w.onerror;w.__qbaka_reports=[];w.onerror = function () { w.__qbaka_reports.push(arguments);};w.qbaka={exec:function(c){try{c()}catch(e){}},report:function(){}, _ldr:function(){w.qbaka._ldd=true;},customParams:{},set:function set(p, v){qbaka.customParams[p]=v;},exec:function(f){try{f();}catch (e){qbaka.reportException(e);}},reportException:function(){}};var e=d.createElement('script');e.id='qbaka';e.type='text/javascript';e.async=!0;e.src='//cdn.qbaka.net/reporting.js';var s=d.getElementsByTagName('script')[0];s.parentNode.insertBefore(e, s);w.addEventListener?w.addEventListener("load",w.qbaka._ldr,!1):w.attachEvent("onload", w.qbaka._ldr);qbaka.key="#{qbaka_key}";})(window, document);